ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ol {
    color: blue;
}

.cd-filter{
  
    border: groove;
    background-color: rgb(245, 241, 241);
    padding: 30px;
}

.search{
    position: relative;
    text-align: center;
    margin: 10px;
}

.card-title{
    font-size: 18px;
    height: 30px;
    text-align: center;
}

.img-prod {
    width: 200px;
    height: 200px;
}

.card-body{
    background-color: rgb(228, 226, 226);
}
